<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog: About</title>
</head>
<body>

<h1>AboutPage</h1>
<ul>
  <li><%=link_to 'index', root_path%></li>
  <li><%=link_to 'home', home_path%></li>
</ul>
</body>
</html>
