<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
</head>
<body>
<div class="center image-bg jumbotron">
  <h1>ALPHA BLOG</h1>
  <p>
    <%= link_to 'Sign Up', signup_path, class:"btn btn-primary btn-lg", data:{role:"button"}%>
  </p>
</div>
</body>
</html>
