$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";
  #my-logo{
    float: left;
    font-size: 1.7em;
    color:#fff;
    text-transform: uppercase;
    letter-spacing:-1px;
    font-weight:bold; 
  }
  #my-logo:hover{
    color:red;
    text-decoration:underline;
  }
  .center{
    text-align:center;
  }
  .image-bg{
    background-image: asset-url('unsplashimage.jpg');
    background-size:cover;
  }
  .jumbotron h1{
    background: rgba(232,232,232,.5);
    display:inline-block;
    border-radius:10px;
    padding:10px;
  }
  .article-actions{
    border-top:1px solid #eaeaea;
    padding-top:5px;
    
  }
  .well{
    h4{
      margin-top:0;
    }
  }
  footer {
    margin-top:45px;
    padding-top:5px;
    border-top: 1px solid #eaeaea;
    color:#777;
    a:hover{
      color:#222;
    }
    small{
      float:left;
    }
    ul{
      float:right;
      list-style:none;
    }
  }
  .article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    
  }