$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";
  #my-logo{
    float: left;
    font-size: 1.7em;
    color:#fff;
    text-transform: uppercase;
    letter-spacing:-1px;
    font-weight:bold; 
  }
  #my-logo:hover{
    color:red;
    text-decoration:underline;
  }
  .center{
    text-align:center;
  }
  .image-bg{
    background-image: asset-url('unsplashimage.jpg');
    background-size:cover;
  }
  .jumbotron > h1{
    background: rgba(232,232,232,.5);
    display:inline-block;
    border-radius:10%;
  }